@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                    <h2 class="inner-w3-title mt-sm-5 mt-4">
                        Blog Page
                    </h2>

                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Blog </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>
<!--//inner-page-->
<!--/w3l-blog-->
<section class="w3l-blog">
    <div class="blog py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row justify-content-center">
                <!--/w3l-blopagew3-left-->
                <div class="col-lg-8 blopagew3-left">
                    <div class="row">
                        <div class="col-md-6 item">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g1.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team1.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> David Marks</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>20 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 item mt-md-0 mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g2.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">How Does A Designer Home Look Like</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team2.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Lynda Stone</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>22 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g3.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team3.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> David Nelson</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>23 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g4.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team1.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> David Marks</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>20 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g5.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">How Does A Designer Home Look Like</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team2.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Lynda Stone</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>22 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g6.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">How Does A Designer Home Look Like</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team2.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Lynda Stone</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>22 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g3.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team3.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> David Nelson</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>23 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g4.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team1.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> David Marks</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>20 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//w3l-blopagew3-left-->
                <!--/w3l-blopagew3-right-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12 mt-lg-0 mt-5">


                    <!-- Popular Post Widget-->

                    <div class="sidebar-title">
                        <h4 style="text-align:center">Facebook İçeriğimiz</h4>
                    </div>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FErkutPrefabrik55&tabs=timeline&width=375&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=565805671443225" width="400" height="400" style="border:none;overflow:hidden" 
                    scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>


                    <hr />

                    <div class="sidebar-title">
                        <h4 style="text-align:center">Twitter İçeriğimiz</h4>
                    </div>



                    <a class="twitter-timeline" data-width="450" data-height="400" data-theme="dark" style="margin-left:15%" href="https://twitter.com/ErkutEv?ref_src=twsrc%5Etfw">Tweets by ErkutEv</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>





                    </div>
                    <!-- sidebar sticky -->
                    <div class="sidebar-sticky">
                        
                   
            </div>
            <!--//w3l-blopagew3-right-->
        </div>
        <!--/page-pagination-->
        <div class="pagination-wrapper mt-5 pt-lg-3">
            <ul class="page-pagination">
                <li><span aria-current="page" class="page-numbers current">1</span></li>
                <li><a class="page-numbers" href="#url">2</a></li>
                <li><a class="page-numbers" href="#url">3</a></li>
                <li><a class="page-numbers" href="#url">...</a></li>
                <li><a class="page-numbers" href="#url">15</a></li>
                <li><a class="next" href="#url">Next <span class="fa fa-angle-right"></span></a></li>
            </ul>
        </div>
        <!--//page-pagination-->
    </div>
    </div>
</section>
<!--//w3l-blog-->
