@{
    ViewData["Title"] = "Ana Sayfa";
}

<!--/Header-->

<header id="site-header" class="fixed-top">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
            <h1>
                <a class="navbar-brand" href="index">
                    Erkut<span class="sub-color">Prefabrik</span>
                </a>
            </h1>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav mx-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Prefabrik">Prefabrik</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Celikev">Çelik Ev</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact">İletişim</a>
                    </li>
                </ul>

            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//Header-->
<!--/Banner-Start-->
<!-- main-slider -->
<section class="w3l-main-slider banner-slider" id="home">
    <div class="owl-one owl-carousel owl-theme">
        <div class="item">
            <div class="slider-info banner-view banner-top1">
                <div class="container">
                    <div class="banner-info header-hero-19">
                        <p class="w3hny-tag">Prefabrik Ev Bizim İşimiz</p>
                        <h3 class="title-hero-19">Hayallerinizdeki Evler İçin..</h3>
                        <a href="about" class="btn btn-style btn-primary mt-4">Hakkımızda <i class="fas fa-angle-double-right ms-2"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-info banner-view banner-top2">
                <div class="container">
                    <div class="banner-info header-hero-19">

                        <p class="w3hny-tag">Bir Telefon Uzağınızdayız.</p>
                        <h3 class="title-hero-19">Siz Hayal Edin Biz Yapalım</h3>
                        <a href="about" class="btn btn-style btn-primary mt-4">Daha Fazla <i class="fas fa-angle-double-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>


    </div>


</section>
<!-- //main-slider -->
<!--/w3l-properties-->
<section class="w3l-witemshny-main py-5">
    <div class="container py-md-4">
        <!--/row-1-->
        <div class="witemshny-grids row">
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="~/images/d1.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4">
                    <a href="#img">Çelik Ev Alın</a>
                </h4>
            </div>
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="~/images/d2.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4">
                    <a href="#img">Bahçe</a>
                </h4>
            </div>
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="~/images/d3.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4">
                    <a href="#img">Ofis Tarzı</a>
                </h4>
            </div>
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="~/images/d4.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4">
                    <a href="#img">Mutfak</a>
                </h4>
            </div>
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="~/images/d5.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4">
                    <a href="#img">Dış Manzara</a>
                </h4>
            </div>
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="~/images/d6.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4">
                    <a href="#img">Havuz</a>
                </h4>
            </div>
        </div>
        <!--//row-1-->

    </div>
</section>
<!--//w3l-properties-->
<!--/bottom-3-grids-->
<div class=" w3l-3-grids py-5" id="grids-3">
    <div class="container py-md-4">
        <div class="row">
            <div class="col-md-6 mt-md-0">
                <div class="grids3-info position-relative">
                    <a href="#img" class="d-block zoom"><img src="~/images/banner.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="w3-grids3-info">
                        <h4 class="gdnhy-1">
                            <a href="Celikev">Çelik Ev Satın Al</a>
                            <a class="w3item-link btn btn-style mt-4" href="Celikev">
                                Çelik Evler <i class="fas fa-angle-double-right ms-2"></i>
                            </a>

                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-4 grids3-info2">
                <div class="grids3-info position-relative">
                    <a href="#img" class="d-block zoom"><img src="~/images/3.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="w3-grids3-info second">
                        <h4 class="gdnhy-1">
                            <a href="Prefabrik">Prefabrik Ev Satın Al</a>
                            <a class="w3item-link btn btn-style mt-4" href="Prefabrik">
                                Prefabrikler <i class="fas fa-angle-double-right ms-2"></i>
                            </a>
                        </h4>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--//bottom-3-grids-->
<!--/grids-->
<section class="w3l-grids-3 py-5" id="about">
    <div class="container py-md-5 py-3">
        <div class="row bottom-ab-grids">
            <div class="w3l-video-left col-lg-6" id="video">
                <!-- /home-page-video-popup-->
                <div class="w3l-index5">
                    <div class="position-relative mt-4">
                        <a href="https://www.facebook.com/ErkutPrefabrik55/posts/pfbid0TF428bgWDxUt8W4eoLPMD6u6UGpmY6PnoKzRGwmJJKvL6tTtXxykdACamj9bJAKHl" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden --
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://player.vimeo.com/video/23512331" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                    </div>
                    <!-- //home-page-video-popup-->
                </div>
            </div>
            <div class="w3ab-left-top col-lg-6 mt-lg-0 mt-5 ps-lg-5">
                <h6 class="title-subw3hny mb-1">Konteyner Ev Alın</h6>
                <h3 class="title-w3l mb-2">Hayalinizdeki Evi İnşa Edelim</h3>
                <p class="my-3"> Açıklama 1  </p>
                <p class="my-3"> Açıklama 2</p>
                <a href="/about" class="btn btn-style btn-primary mt-4">Daha Fazlası <i class="fas fa-angle-double-right ms-2"></i></a>
            </div>
        </div>
    </div>
</section>
<!--//grids-->
<!--/w3-grids-->
<section class="w3l-passion-mid-sec py-5 pt-0">
    <div class="container py-md-5 py-3 pt-0">
        <div class="container">
            <div class="row w3l-passion-mid-grids">
                <div class="col-lg-6 passion-grid-item-info pe-lg-5 mb-lg-0 mb-5">

                    <h3 class="title-w3l mb-4">Fiyatları Sabitledik!!</h3>
                    <p class="mt-3 pe-lg-5">Açıklama1.</p>
                    <div class="w3banner-content-btns">
                        <a href="about" class="btn btn-style btn-primary mt-lg-5 mt-4 me-2">Sabit fiyatla satın alın <i class="fas fa-angle-double-right ms-2"></i></a>

                    </div>
                </div>
                <div class="col-lg-6 passion-grid-item-info">
                    <img src="~/images/g6.jpg" alt="" class="img-fluid radius-image">
                </div>
            </div>

        </div>
    </div>
</section>
<!--//w3-grids-->
<!-- features section -->
<section class="w3l-features py-5" id="features">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center mb-lg-3 mb-4">
            <h6 class="title-subw3hny mb-1">Ne Yaparız?</h6>
            <h3 class="title-w3l">İnsanların Prefabrik Üzerine Görüşünü Değiştirme Üzerine Görevdeyiz.</h3>
        </div>
        <div class="main-cont-wthree-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <a href="https://goo.gl/maps/naLMJksTYs4pxBJ39">
                            <div class="icon">
                                <i class="fas fa-location-arrow"></i>
                            </div>
                        </a>
                        <h4><a href="https://goo.gl/maps/naLMJksTYs4pxBJ39" class="title-head mb-3">Hayalinizdeki Ev İçin Bir Adım Uzaktasınız</a></h4>
                        <p class="text-para">Açıklama </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <a href="tel:+90-543-945-31-57">
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div>
                        </a>
                        <h4><a href="tel:+90-543-945-31-57" class="title-head mb-3">Bizi Arayın, Hemen Randevu Verelim</a></h4>
                        <p class="text-para">Açıklama 2 </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-fast-forward"></i>
                        </div>
                        <h4><a href="service" class="title-head mb-3">Kısa Sürede Evinizi Teslim Edelim</a></h4>
                        <p class="text-para">Açıklama </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//features section -->
<section class="w3l-stats-section py-5" id="stats">
    <div class="container py-md-4">
        <div class="w3l-stats-inner-inf">
            <div class="row stats-con justify-content-center">
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <p class="counter">120 </p>
                    <h3>Tamamlanan Prefabrik Ev</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <p class="counter">200 </p>
                    <h3>Çelik Ev Satışı</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<!--/properties-->
<section class="locations-1" id="locations">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="heading text-center mx-auto">
                <h6 class="title-subw3hny mb-1">Ürünlerimiz</h6>
                <h3 class="title-w3l mb-3">En Çok Satılanlar</h3>
            </div>

            <div class="row pt-md-5 pt-4 justify-content-evenly">
                <div class="col-lg-4 col-md-6">

                    <div class="w3property-grid">
                        <a href="Villa2">

                            <div class="box16">
                                @*<div class="rentext-listing-category"><span class="pro-left">Buy</span><span class="pro-right">Rent</span></div>*@


                                <img class="img-fluid" src="~/images/1/1.jpg" alt="">



                                <div class="box-content">
                                    <h3 class="title">Villa-2</h3>
                                    <span class="post">Fiyat İçin Whatsapp'tan iletişime geçin</span>
                                </div>
                            </div>
                        </a>
                        <div class="list-information space-between">
                            <ul class="product-features">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                            1
                                        </span>

                                        <span class="value">
                                            <span></span>Yatak Odası
                                        </span>

                                        <span class="suffix">
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <i class="fas fa-shower"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                            2
                                        </span>

                                        <span class="value">
                                            <span>Banyo</span>
                                        </span>

                                        <span class="suffix">
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <i class="fas fa-vector-square"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                        </span>

                                        <span class="value">
                                            80 &#x33A1
                                        </span>


                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4 ">
                    <div class="w3property-grid">
                        <a href="Prefabrik1">
                            <div class="box16">
                                @*<div class="rentext-listing-category"><span>Buy</span><span>Rent</span></div>*@
                                <img class="img-fluid" src="~/images/2/5.jpg" alt="">
                                <div class="box-content">
                                    <h3 class="title">Prefabrik-1</h3>
                                    <span class="post">Fiyat İçin Whatsapp'tan iletişime geçin</span>

                                </div>
                            </div>
                        </a>
                        <div class="list-information space-between">
                            <ul class="product-features">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                            1
                                        </span>

                                        <span class="value">
                                            Yatak Odası
                                        </span>

                                        <span class="suffix">
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <i class="fas fa-shower"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                            1
                                        </span>

                                        <span class="value">
                                            Banyo
                                        </span>

                                        <span class="suffix">
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <i class="fas fa-vector-square"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                        </span>

                                        <span class="value">
                                            20 &#x33A1
                                        </span>


                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 pt-lg-0 mt-4 pt-md-2">
                    <div class="w3property-grid">
                        <a href="Prefabrik2">
                            <div class="box16">
                                @*<div class="rentext-listing-category"><span>Buy</span><span>Rent</span></div>*@
                                <img class="img-fluid" src="~/images/4/4.jpg" alt="">
                                <div class="box-content">
                                    <h3 class="title">Prefabrik-2</h3>
                                    <span class="post">Fiyat İçin Whatsapp'tan iletişime geçin</span>

                                </div>
                            </div>
                        </a>
                        <div class="list-information space-between">
                            <ul class="product-features">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                            3
                                        </span>

                                        <span class="value">
                                            Yatak Odası
                                        </span>

                                        <span class="suffix">
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <i class="fas fa-shower"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                            1
                                        </span>

                                        <span class="value">
                                            Banyo
                                        </span>

                                        <span class="suffix">
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <i class="fas fa-vector-square"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                        </span>

                                        <span class="value">
                                            90
                                        </span>

                                        <span class="suffix">
                                            &#x33A1
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--//properties-->
<!--/w3l-join-main-->
<section class="w3l-join-main py-5">
    <div class="container py-md-5">
        <div class="w3l-project-in">
            <div class="bottom-info text-center pb-lg-5">
                <div class="header-section pe-lg-5">
                    <h6 class="title-subw3hny mb-2">Bizi Arayın</h6>
                    <h3 class="title-w3l two mb-2">
                        Hayalinizdeki Yapıyı Söyleyin
                    </h3>
                    <p class="mb-2">Biz Yapalım</p>
                    <div class="w3banner-content-btns pb-5 pb-5">
                        <a href="/Contact" class="btn btn-style btn-primary mt-4">İletişim <i class="fas fa-angle-double-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//w3l-join-main-->
@*<!--/testimonials-->
    <section class="w3l-testimonials-main" id="testimonials">
        <div class="container">
            <div class="w3l-clients">
                <div id="owl-demo1" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="row no-gutters m-lg-0 test-w3hny-info">
                            <div class="col-lg-5 w3l-left-img1">
                            </div>
                            <div class="col-lg-7 w3l-right-info">
                                <div class="testimonial-content">
                                    <div class="testimonial">
                                        <div class="testi-des">

                                            <div class="peopl align-self">
                                                <h4>John wilson</h4>
                                                <p class="indentity">Customer</p>
                                            </div>
                                        </div>
                                        <blockquote>
                                            <q><i class="fas fa-quote-left me-2"></i> Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel.Lorem ipsum dolor sit, amet consectetur ante ipsum elit.</q>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--//testimonials-->*@
<!--/w3l-blog-->



<!--//w3l-blog-->
