
@{
    ViewData["Title"] = "Prefabrik1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="site-header" class="fixed-top">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
            <h1>
                <a class="navbar-brand" href="index">
                    Erkut<span class="sub-color">Prefabrik</span>
                </a>
            </h1>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav mx-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">Hakkımızda</a>
                    </li>
                     <li class="nav-item">
                            <a class="nav-link active" href="Prefabrik">Prefabrik</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Celikev">Çelik Ev</a>
                        </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact">İletişim</a>
                    </li>
                </ul>

            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//Header-->

<section class="w3l-main-slider banner-slider" id="home">
    <div class="owl-one owl-carousel owl-theme">

        <div class="slider-info banner-view banner-top11">
        </div>


        <div class="slider-info banner-view banner-top12">
        </div>
        <div class="slider-info banner-view banner-top13">
        </div><div class="slider-info banner-view banner-top14">
        </div><div class="slider-info banner-view banner-top15">
        </div><div class="slider-info banner-view banner-top16">
        </div>




    </div>


</section>

<section class="w3l-features py-5" id="features">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center mb-lg-3 mb-4">
            <h6 class="title-subw3hny mb-1">Prefabrik-1</h6>
            <h3 class="title-w3l">Özellikler</h3>
        </div>
        <div class="main-cont-wthree-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <a href="">
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                            </div>
                        </a>
                        <h4><a href="" class="title-head mb-3">1 Yatak Odası</a></h4>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <a href="">
                            <div class="icon">
                                <i class="fas fa-shower"></i>
                            </div>
                        </a>
                        <h4><a href="" class="title-head mb-3">1 Banyo</a></h4>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-vector-square"></i>
                        </div>
                        <h4><a href="" class="title-head mb-3">20 &#x33A1</a></h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


